body {
    background-color: #2b2c37;
    color: #c6e8ed;
    font-family: monospace;
    gap: 10px;
}

.updated {
    font-size: 8pt;
}

.latestPrice {
    display: block;
    font-size: 40pt;
}

.label {
    font-size: 14pt;
}

.changeValue {
    font-size: 36pt;
    color: #24af24;
}

.loss {
    color: #e21414;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border: 1px solid #333;
    text-align: left;
}

treemap {
    width: 100%;
    height: 800px;
}