body {
    background-color: #2b2c37;
    color: #c6e8ed;
    font-family: monospace;
    margin-bottom: 10px;
}

.updated {
    font-size: 8pt;
}

.market {
    display: flex;
}

.quote-card {
    background: linear-gradient(to top, #4a4b5c 46%, #75618a);
    border-radius: 8px;
    padding: 4px;
    width: 130px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 6px;
}

.big-card {
    width: 200px;
}

.quote-name {
    font-size: 12px;
}

.big-card .quote-name {
    font-size: 22px;
}

.quote-change {
    font-size: 22px;
}

.big-card .quote-change {
    font-size: 40px;
}

.graph-container {
    height: 300px;
}

.latestPrice {
    display: block;
    font-size: 40pt;
}

.label {
    font-size: 14pt;
}

#changeDollars, #changePercent {
    font-size: 36pt;
}

.changeValue {
    color: #23ce23;
}

.loss {
    color: #e21414;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border: 1px solid #4a4b5c;
    text-align: left;
}

stockview-treemap {
    width: 100%;
    height: 500px;
}