body {
    background-color: #2b2c37;
    color: #c6e8ed;
    font-family: monospace;
}

.updated {
    font-size: 8pt;
    margin-bottom: 8px;
}

.changeValue {
    color: #23ce23;
}

.loss {
    color: #e21414;
}

.market {
    display: flex;
}

.quote-card {
    background: linear-gradient(to top, #4a4b5c 46%, #75618a);
    border-radius: 8px;
    padding: 4px;
    width: 130px;
    margin-bottom: 8px;
    margin-right: 6px;
}

.big-card {
    padding: 7px;
    width: 200px;
}

.quote-name {
    font-size: 12px;
}

.big-card .quote-name {
    font-size: 22px;
}

.quote-change {
    font-size: 22px;
}

.big-card .quote-change {
    font-size: 40px;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 8px;
}

th, td {
    padding: 12px;
    border: 1px solid #4a4b5c;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 500px) {
    table .hideable {
        display: none;
    }
}

.graph-container {
    max-height: 300px;
    margin-bottom: 8px;
}

.label {
    font-size: 14pt;
}

stockview-treemap {
    width: 100%;
    height: 500px;
    margin-bottom: 8px;
}

.button-row {
    display: flex;
    gap: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-bottom: 1px solid #4a4b5c;
    padding-bottom: 2px;
}

.toggle-button {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    background-color: #4a4b5c;
    border-radius: 8px;
    padding: 4px;
    height: 30px;
    flex-grow: 1;
    max-width: 120px;
    align-content: center;
    justify-content: center;
}

.toggle-button:hover {
    border: 1px solid #a772e0;
    background-color: #61637c;
}

.toggle-button[aria-pressed="true"] {
    border: 2px solid #a772e0;
    background-color: #75618a;
}

.toggle-button[aria-pressed="true"]:hover {
    background-color: #856e9e;
}