body {
    background-color: #2b2c37;
    color: #c6e8ed;
    font-family: monospace;
    margin-bottom: 10px;
}

.updated {
    font-size: 8pt;
}

.market {
    display: flex;
}

.quote-card {
    background-color: linear-gradient(#ccb5e5 90%, #b46ffe);
    border-radius: 15px;
    width: fit-content;
    gap: 4px;
}

.quote-name {
    font-size: 12px;
}

.quote-change {
    font-size: 18px;
}

.latestPrice {
    display: block;
    font-size: 40pt;
}

.label {
    font-size: 14pt;
}

#changeDollars, #changePercent {
    font-size: 36pt;
}

.changeValue {
    color: #24af24;
}

.loss {
    color: #e21414;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border: 1px solid #4a4b5c;
    text-align: left;
}

stockview-treemap {
    width: 100%;
    height: 300px;
}