:host {
   display: block; 
}

div {
    display: grid;
    color: black;
    font-family: monospace;
    font-size: 8px;
    border: 1px solid blueviolet;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.container {
    border: none;
}

.leaf {
    display: block;
}