:host {
   display: block; 
}

div {
    display: flex;
    color: black;
    font-family: monospace;
    font-size: 8px;
    border: 1px solid blueviolet;
    width: 100%;
    height: 100%;
}

.container {
    border: none;
}

.tall {
    flex-direction: column;
}